
<div class="flex min-h-screen overflow-y-scroll bg-gray-900">
  <div class="container mx-auto flex flex-wrap items-start " >
    <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
      <h1 class="text-3xl lg:text-4xl text-gray-700 font-extrabold">
        Results
      </h1>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2" *ngFor="let item of SMovies|async">
      <div class="rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
        <app-movie-card [movie]="item"></app-movie-card>
      </div>
    </div>
  </div>
</div>
