<mat-toolbar class="mat-elevation-z8 bg-gray-900">
  <button
    mat-icon-button
    type="button"
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    class=""
  >
    <mat-icon class="font-extrabold" *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon class="font-extrabold" *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div class="ml-2" routerLink="/home">
    <img class="w-8" src="../../../assets/play.png" alt="" />
  </div>
  <div class="flex w-full justify-end gap-3 px-8">

        <div
          action=""
          class="flex  bg-white px-2 rounded-lg justify-center gap-4 mx-4"
        >
          <input
            class="w-12 md:w-full px-4 py-2 focus:outline-none text-base rounded-l-lg"
            type="text"
            name="search"
            [(ngModel)]="search"
            placeholder="search movies"
          />
          <button
            class="flex items-center justify-center text-black rounded-lg"
            [routerLink]="['/results', search]"
          >
            <span class="material-symbols-rounded text-3xl">Search</span>
          </button>
        </div>

        <button
          href="#about"
          class="hidden md:block text-white hover:scale-95 transition-all duration-300"
        >
          <mat-icon>chat</mat-icon>
        </button>
        <button
          href="#skills"
          class="hidden md:block text-white hover:scale-95 transition-all duration-300"
        >
          <mat-icon>notifications</mat-icon>
        </button>
        <button
          routerLink="/login"
          class="hidden md:block text-white hover:scale-95 transition-all duration-300 "
        >
          <img
            class="avatar mat-elevation-z8"
            src="https://robohash.org/facilisdignissimosdolore.png"
          />
        </button>
      </div>

</mat-toolbar>

<mat-sidenav-container class="bg-gray-950">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 bg-gray-950">
    <div class="flex items-start">
      <span class="text-lg text-gray-400 text-start">News Feed</span>
    </div>
    <button mat-button class="menu-button focus:text-red-700">
      <mat-icon>explore</mat-icon>
      <span>Browse</span>
    </button>
    <button mat-button class="menu-button focus:text-red-700">
      <mat-icon>favorite</mat-icon>
      <span>watchList</span>
    </button>
    <button mat-button class="menu-button focus:text-red-700">
      <mat-icon>calendar_month</mat-icon>
      <span>Coming soon</span>
    </button>

    <mat-divider></mat-divider>
    <div class="flex items-start">
      <span class="text-lg text-gray-400 text-start">Following</span>
    </div>
    <div class="h-96 overflow-y-scroll space-y-4">
      <div
        class="flex gap-2  h-10 items-center text-center px-2 py-2 rounded-lg hover:bg-slate-400/20"
        *ngFor="let user of users | async"
      >
        <img class="avatar mat-elevation-z8" src="{{ user.image }}" />

        <p class="mt-2.5">{{ user.firstName }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/login">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content class="mt-4">
    <div class="content mat-elevation-z8 mx-4">
      <router-outlet class=""></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
